/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 */

@import "colors";

$debug : false;

@if $debug == true {
  div { outline: dashed 1px red; }
}

$primaryColor1 : #3a87ad;

/* Override Twitter Boostrap
************************************************************************/
[class*="span"] { margin-left: 0; }
.container-fluid { padding: 0; margin: 0;}
.navbar {
  .btn-group, .brand  {margin: 0;}
}
.navbar-inner {background: $primaryColor1;}



/* Application Styles
************************************************************************/
body.bbt { margin-top: 57px;}

.wrapper { margin-top: 57px;}

div.nav-collapse {
  float: right;
  display: inline-block;
  margin: 13px;
  color: #fff;
}

.nav.secondary {
  font-size: 12px;
  float:right;
}

img.logo.bbt { width: 300px;}
h1.logo { visibility: hidden; display: none; text-indent: -9999px;}

h1, h2, h3, h4 { font-family: 'Merriweather Sans', sans-serif;}
h1 { margin: 20px 0 25px 0; }


/* Application Styles
************************************************************************/
footer {
  background: $primaryColor1;
}

/* Screen View
************************************************************************/
@media screen and (min-width:450px) {
  img.logo.bbt { width: 300px;}
  .sec-nav { display: block; visibility: visible;}
  .sec-nav-mobile { display: none; visibility: hidden;}
}

/* Vertical Phone View
************************************************************************/
@media (max-width: 650px) {
  .sec-nav { display: none; visibility: hidden;}
  .sec-nav-mobile { display: block; visibility: visible;}
}
@media  (max-width: 450px) {
  img.logo.bbt { width: 200px; margin-top: 3px;}
}

