body.devise-sessions {
  background: url('/assets/textured_paper.png') repeat;
}

div.container.sign-in {
  background: rgba(0, 0, 0, .8);
  width: 300px;
  padding: 40px 0 40px 75px;
  margin: 120px auto;
  border-radius: 8px;
  radius: 8px;
  color: #fff;
}
